<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>io.grace.change-directive-snapshots</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/python3</string>
    <string>-m</string>
    <string>src.change_directives.snapshot_pipeline</string>
    <string>run-all</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/YOUR_USERNAME/grace</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PYTHONPATH</key>
    <string>/Users/YOUR_USERNAME/grace</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>15</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/grace-change-directive-snapshots.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/grace-change-directive-snapshots.err</string>
</dict>
</plist>
